In [34]:
import pandas as pd
import numpy as np
import matplotlib as mp

In [35]:
df = pd.read_csv('data2.csv')

In [23]:
df.head()

,id,date,time_slot,total_user_time_spent_in_mins,total_ads_watched_in_mins,ads_clicked,user_time_spent_versionB_in_mins,ads_watched_vesionB_in_mins,ads_clicked_versionB
0,0,6/1/2020,00:00-05:59,409671,26195,22,299059,24164,13
1,1,6/1/2020,06:00-11:59,346173,865,5,121160,865,2
2,2,6/1/2020,12:00-17:59,424768,11682,29,250613,2453,18
3,3,6/1/2020,18:00-23:59,512302,11435,0,379103,11435,0
4,4,6/2/2020,00:00-05:59,336584,24788,20,195218,10553,6

In [26]:
df['click_ratio'] = df['ads_clicked']/df['total_ads_watched_in_mins']
df['click_ratio'].mean()

0.003196980760219142

In [27]:
df['ad_time_ratio'] = df['total_ads_watched_in_mins']/df['total_user_time_spent_in_mins']

In [28]:
df.groupby(by=["date"])['ad_time_ratio'].mean() #0.09895155760345037

date
6/1/2020     0.029066
6/10/2020    0.072172
6/11/2020    0.031691
6/12/2020    0.017286
6/13/2020    0.039503
6/14/2020    0.061518
6/15/2020    0.036076
6/16/2020    0.071775
6/17/2020    0.046999
6/18/2020    0.043426
6/19/2020    0.056050
6/2/2020     0.059805
6/20/2020    0.047120
6/21/2020    0.057662
6/22/2020    0.053144
6/23/2020    0.021877
6/24/2020    0.041482
6/25/2020    0.083926
6/26/2020    0.048770
6/27/2020    0.036351
6/28/2020    0.063669
6/29/2020    0.061558
6/3/2020     0.029392
6/30/2020    0.042478
6/4/2020     0.035502
6/5/2020     0.040640
6/6/2020     0.049991
6/7/2020     0.037080
6/8/2020     0.074701
6/9/2020     0.060996
Name: ad_time_ratio, dtype: float64

In [29]:
max(df.groupby(by=["date"])['ad_time_ratio'].mean())

0.08392617498373389

In [33]:
df.groupby(by=["date"])['ads_clicked'].sum()

date
6/1/2020      56
6/10/2020     76
6/11/2020     59
6/12/2020     99
6/13/2020     31
6/14/2020     72
6/15/2020     98
6/16/2020     50
6/17/2020     67
6/18/2020     39
6/19/2020     53
6/2/2020      70
6/20/2020     40
6/21/2020     88
6/22/2020     46
6/23/2020    119
6/24/2020     78
6/25/2020     44
6/26/2020     59
6/27/2020     54
6/28/2020     52
6/29/2020     80
6/3/2020      39
6/30/2020     47
6/4/2020      58
6/5/2020      43
6/6/2020      61
6/7/2020      42
6/8/2020      72
6/9/2020      49
Name: ads_clicked, dtype: int64

In [36]:
df['user_time_spent_versionA_in_mins'] = df['total_user_time_spent_in_mins']-df['user_time_spent_versionB_in_mins']

In [37]:
df.groupby(by=["week"])['user_time_spent_versionA_in_mins'].sum()

week
1    4823618
2    4843432
3    5448068
4    4992887
5    1831816
Name: user_time_spent_versionA_in_mins, dtype: int64

In [38]:
df.groupby(by=["time_slot"])['total_ads_watched_in_mins'].sum()

time_slot
00:00-05:59    583165
06:00-11:59    482332
12:00-17:59    501434
18:00-23:59    486800
Name: total_ads_watched_in_mins, dtype: int64

In [49]:
dfvid = pd.read_csv('videos.csv')
dfads = pd.read_csv('ads.csv')

In [46]:
dfads

,ad_id,ad_name,long_version_video_id,short_version_video_id
0,0,chats-conditionate,86,185
1,1,isomerizing-louma,1007,1724
2,2,tipcat-preorder,1890,1229
3,3,incipient-mumpishly,59,435
4,4,xylorimbas-drosophilas,1217,1596
...,...,...,...,...
995,995,blew-thraward,1661,817
996,996,bating-hagdon,945,32
997,997,newsgroup-degenerateness,1995,1322
998,998,dionysian-shrimping,1585,548
999,999,cocooned-ampliation,1371,994

In [47]:
dfvid

      video_id                                              path  duration
0         2000              /videos/2020-02-01/doodoo-dudism.mp4        24
1         2001                 /root/bucket3/facings-elapses.mp4        28
2         2002    /videos/2020-02-01/operosenesses-kiwifruit.mp4         7
3         2003             /root/bucket3/deltiologist-motley.mp4        18
4         2004  /videos/2020-02-04/scoreboards-preselections.mp4        41
...        ...                                               ...       ...
2095      1995   /root/bucket1/newsgroup-degenerateness-long.mp4        32
2096       548       /root/bucket3/dionysian-shrimping-short.mp4        29
2097      1585        /root/bucket1/dionysian-shrimping-long.mp4        28
2098       994  /videos/2020-02-01/cocooned-ampliation-short.mp4        29
2099      1371        /root/bucket5/cocooned-ampliation-long.mp4        34

[2100 rows x 3 columns]

In [44]:
arr = ['mumbliest' in dfvid['path']]
arr

[False]

In [54]:
newmerge = dfads.merge(dfvid, left_on='long_version_video_id', right_on='video_id', how='inner')
duration_long = newmerge['duration']
duration_long

0      28
1      50
2      58
3      25
4      29
       ..
995    28
996    57
997    32
998    28
999    34
Name: duration, Length: 1000, dtype: int64

In [55]:
newmerge2 = dfads.merge(dfvid, left_on='short_version_video_id', right_on='video_id', how='inner')
duration_short = newmerge2['duration']
duration_short

0      29
1      10
2      28
3      11
4      13
       ..
995    20
996     7
997     7
998    29
999    29
Name: duration, Length: 1000, dtype: int64

In [56]:
compare = duration_long < duration_short
compare

0       True
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998     True
999    False
Name: duration, Length: 1000, dtype: bool

In [59]:
newmerge2['duration'][compare].count()

18

In [80]:
dfplat = pd.read_csv('platforms.csv')
dfstat = pd.read_csv('ads_statistics.csv')

In [66]:
dfstat

      platform_id  video_id  watch_count  total_time_watched  price_per_watch
0             159      1181         1513               36312             0.25
1             117       655       794140            19853500             0.42
2              30      1346       842177             5895239             0.44
3             160       113         1997               11982             0.14
4             103      1445       376330             6773940             0.38
...           ...       ...          ...                 ...              ...
7334          198      1515       510274            22452056             0.46
7335          199       651       981992            40261672             0.39
7336          200      1058       403888             3634992             0.17
7337          201        10       539148             4313184             0.44
7338          202       794       559483            18462939             0.39

[7339 rows x 5 columns]

In [74]:
newmerge3 = dfstat.merge(dfplat, left_on='platform_id',right_on='platform_id', how='left')
newmerge3

,platform_id,video_id,watch_count,total_time_watched,price_per_watch,contact_mail,website
0,159,1181,1513,36312,0.25,timtroyr@mac.com,NaN
1,117,655,794140,19853500,0.42,dmiller@gmail.com,wufoo.com
2,30,1346,842177,5895239,0.44,greear@live.com,de.vu
3,160,113,1997,11982,0.14,malattia@live.com,NaN
4,103,1445,376330,6773940,0.38,NaN,discovery.com
...,...,...,...,...,...,...,...
7334,198,1515,510274,22452056,0.46,NaN,NaN
7335,199,651,981992,40261672,0.39,NaN,NaN
7336,200,1058,403888,3634992,0.17,NaN,NaN
7337,201,10,539148,4313184,0.44,NaN,NaN
7338,202,794,559483,18462939,0.39,NaN,NaN

In [76]:
newmerge3['exist'] = newmerge3['contact_mail'].isnull() | newmerge3['website'].isnull()
newmerge3['exist']

0        True
1       False
2       False
3        True
4        True
        ...
7334     True
7335     True
7336     True
7337     True
7338     True
Name: exist, Length: 7339, dtype: bool

In [79]:
newmerge3['exist'][newmerge3['exist'] == True]

0       True
3       True
4       True
6       True
13      True
        ...
7334    True
7335    True
7336    True
7337    True
7338    True
Name: exist, Length: 2087, dtype: bool

In [81]:
dfstat['total_cost'] =  newmerge3['watch_count']* newmerge3['price_per_watch']

In [82]:
grouped = dfstat.groupby('platform_id')['total_cost'].sum()

In [83]:
grouped

platform_id
0      4285708.40
1      3178805.82
2      4470850.54
3      5016001.32
4      3688426.69
          ...
198     234726.04
199     382976.88
200      68660.96
201     237225.12
202     218198.37
Name: total_cost, Length: 186, dtype: float64

In [ ]:
newmerge4 = dfstat.merge3['contact_mail'].isnull() | newmerge3['website'].isnull()
newmerge3['exist']